.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: #e7aeee;
}

.navbar-brand{
  font-size: 35px;
  color: rgb(232, 19, 19);
  padding-left: 25px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  text-decoration: solid;
}

.navbar-brand:hover{
	color: blue;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: rgb(33, 105, 173);
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: rgb(198, 213, 219);
	border-bottom: 1px solid black;
	color: rgb(231, 13, 129);
	display: block;
}

.menu-item:hover{
	background-color: rgba(86, 214, 195, 0.9);
	color: rgba(0,0,0,0.4);
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
    border-radius: 5%;
	background-color: rgba(136, 79, 119, 0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 27px;
	font-weight: bold;
    color: rgb(208, 27, 172);
}

a {
color: red;
text-decoration: underline;
font-family: Arial, Helvetica, sans-serif;
}